* {
    box-sizing: border-box;
}

body, html {

    height: 100%;
    width: 100%;
    font-family: sans-serif;
    
}
.section1, .section2 {
    border: 1px solid red;
    width: auto;
    padding-left: 10px;

}
main {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    background-color: antiquewhite;
}

.section2 {
    grid-row: 2;
}

.section3{
    display: flex;
    justify-content: space-around;

}

.section4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa-trash-alt {
    color: red;
}

.fa-money-bill-alt {
    display:flex;
    font-size: 56px;
    color: rgb(47, 72, 79);
    justify-content: center;
}

.fa-credit-card {
    display:flex;
    font-size: 56px;
    color: rgb(47, 72, 79);
    justify-content: center;
}

.fa-dollar-sign {
    display:flex;
    font-size: 56px;
    color: rgb(47, 72, 79);
    justify-content: center;
}
#checkbox-section{
    display: flex;
    flex-direction: column;
}
.checkbox {
   
  
}